/* General rules */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
img,
span,
button,
input {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
input {
  color: inherit;
  border: none;
  margin: 10px 0;
  height: 40px;
  border: 1px solid #ddd;
  background-color: white;
}
input,
select,
textarea {
  outline: none;
  width: 100%;
  padding: 5px;
}
address {
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
body {
  font-family: 'Comfortaa', cursive;
  font-family: 'Noto Sans Georgian', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
